.app {
  background-color: lightblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f6f8f9;
  width: 100vw;
  min-height: 100vh;
}
header {
  width: 100vw;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}
.header {
  max-width: 1000px;
  height: 5.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.main__nav {
  flex-basis: 2.2em;
  width: 100vw;
  background-color: #fff;
}

main {
  max-width: 1000px;
  width: 100vw;
  padding-top: 1.4em;
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  margin-bottom: 1em;
}
.content {
  flex-grow: 3;
  margin: 0 1.4em;
}
.aside-left,
.aside-right {
  flex-grow: 1;
}
footer {
  border-top: 1px solid #eaeaea;
  font-size: 0.9em;
  width: 100vw;

  padding: 1em;
  text-align: center;
  color: #555;
}
.error {
  flex-grow: 1;
  position: relative;
  top: 0;
  width: 100vw;
  /* height: 100vw; */
  text-align: center;
  background-image: url("../images/lost.jpg");
  background-repeat: no-repeat;
  background-position: 50% 45%;
  background-size: cover;
}
.error__tit {
  margin-top: 6em;
  font-size: 2.2em;
  margin-bottom: 1.4em;
  color: #7fc2ff;
}
.error__txt {
  font-size: 1.2em;
  max-width: 650px;
  margin: 0 auto;
  color: #f6f8f9;
}
.error__txt a {
  color: #7fc2ff;
  text-decoration: none;
  cursor: pointer;
}
.error__txt a:hover {
  text-decoration: underline;
}
